*.class
*.log

# vim 
*~
*.swp

# sbt and Scala-IDE bits
**/.cache
**/.cache-main
**/.cache-tests
.settings/
.history/
.lib/
.project
.classpath
dist/*
target/
bin/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
*.sc

# classes with typical test names
Foo.scala
Bar.scala
Blah.scala

/.metadata/
